.nav-side-menu {
	background-color: #2E353D;
	color: #E1FFFF;
	font-family: verdana;
	font-size: 12px;
	font-weight: 200;
 	height: 100%;
 	overflow: auto;
 	position: fixed;
 	top: 0px;
  	width: 300px;
}
.nav-side-menu .brand {
	background-color: #23282E;
	display: block;
	font-size: 14px;
	line-height: 50px;
	text-align: center;
}
.nav-side-menu .toggle-btn {
	display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
	cursor: pointer;
	line-height: 35px;
	list-style: none;
	margin: 0px;
	padding: 0px;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
	content: "\f078";
	display: inline-block;
	float: right;
	font-family: FontAwesome;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
	background-color: #4F5B69;
	border-left: 3px solid #D19B3D;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
	color: #D19B3D;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
	color: #D19B3D;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
	background-color: #181C20;
	border: none;
	border-bottom: 1px solid #23282E;
	line-height: 28px;
	margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
	background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}
.nav-side-menu li {
	border-bottom: 1px solid #23282E;
	border-left: 3px solid #2E353D;
	padding-left: 0px;
}
.nav-side-menu li a {
	color: #E1FFFF;
	text-decoration: none;
}
.nav-side-menu li a i {
	padding-left: 10px;
	padding-right: 20px;
	width: 20px;
}
.nav-side-menu li:hover {
	background-color: #4F5B69;
	border-left: 3px solid #D19B3D;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
  	margin-bottom: 10px;
    position: relative;
    width: 100%;
  }
  .nav-side-menu .toggle-btn {
  	background-color: #FFF;
    color: #000;
  	cursor: pointer;
    display: block;
    padding: 3px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    z-index: 10 !important;
    width: 40px;
  }
  .brand {
	font-size: 22px;
    line-height: 50px !important;
    padding-left: 20px;
    text-align: left !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
	background: url(../images/background_space_3.jpg);
	color: #FFF;
	display: table;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

label {
	color: #FFF;	
}


.margin-0 {
	margin: 0 !important;
}
.padding-0 {
	padding: 0!important;
}

.nav-side-menu.col-md-2 {
    display: table;
    height: 100%;
}

/* Timer */
#timer {
    font-size: 25px;
    padding: 6px;
    text-align: center;
}

/* Lateral direita */
#lateral_direita {
    background: #2E353D none repeat scroll 0 0;
    color: #FFF;
    display: table;
}



/* Home > Estrela central */
#conteiner-estrela-home {
	margin: 0;
}
#conteiner-estrela-home #container_star {
    display: table;
    margin: 0 auto;
}

